body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 5px 20px;
  color: white;
}

header img {
  max-width: 100px;
  height: auto;
}

header h2 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

nav a:hover {
  color: #FFA500;
}

h3  {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.background-svg {
  margin-bottom: -5px; /* Reduz a margem inferior em 5 pixels */
}

footer {
  background-color: #290a0a;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: -115px;
}

footer div:nth-child(1) {
  text-align: center;
}

.links a {
  display: inline-block;
  margin: 0 10px;
}

.links img {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.links img:hover {
  opacity: 1;
}

footer div:nth-child(2) {
  max-width: 300px;
}

footer div:nth-child(3) {
  max-width: 300px;
}

.banner {
  background-color: #FFA500;
  color: white;
  text-align: center;
  padding: 10px;
}
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
}

.carousel-container {
  display: flex;
  align-items: center; 
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  text-align: center;
  display: none;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.carousel-button {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#prevBtn {
  color: #ffffff;
  left: 10px;
}

#nextBtn {
  color: #ffffff;
  right: 10px;
}

.insta, .facebook, .whatsaap{
  width: 45px;
  border-radius: 15px;
}

.insta:hover, .github:hover, .whatsaap:hover, .twitter:hover{
  opacity: 0.5;
  transition: .4s;
  transform: rotate(20deg);
  cursor: pointer;
}

.hamburgueria-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
  margin-top: 15px;
}

.hamburgueria-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hamburgueria-container p {
  font-size: 17px;
  color: #000000;
  line-height: 1.6;
}

.hamburgueria-container p br {
  display: none;
}

aside h4{
  display: flex;
  justify-content: center;
}

aside p{
  display: flex;
  justify-content: center;
}

a:hover {
  color: #FFA500;
}

ul a {
  text-decoration: none;
  color: white;
}

/* Seu CSS existente aqui */

/* Adicione o seguinte bloco de estilo para ajustar o layout do menu */
.menu {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.menu img {
  max-width: 200px;
  height: auto;
}

.menu h2 {
  margin: 10px 0 5px 0;
  font-size: 20px;
}

.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.original-price {
  color: red;
  text-decoration: line-through;
  margin: 5px 0;
}

.discounted-price {
  color: green;
  margin: 5px 0;
}
